.preview {
    font-size: 1em;
      
    }
    
    .previewTitle {
      font-size: 1.1em;
      font-weight: 500;
      color:#212529;
      margin-bottom: 1px;
    }
    
  #listItemRef{
border: 1px solid  #ff2483 !important;
background-color: pink !important;
  }

  .list-group-item-action{ 
      background-color: #ff2483 !important;
     }


   .previewEventblock{
  
  /* 
    border: 1px solid pink;*/
padding-top:5px;
   }
  
   .previewDuration{
font-size: 0.9em;
   color:#27292b;
   }
  
   .previewPostpad{
    padding-top: 10px;
  
  
   }
  
  
   .previewDateBlock{
      padding-bottom: 0px;
      font-size:1em;
      color:#27292b;

      font-weight: 400;
      line-height: 1.4em;
      text-align: left;
      }
    

      .previewPrice{
        padding-bottom: 0px;
        font-size: 0.9em;
        text-align: center;
        color: #27292b;
  
        font-weight: 400;
        line-height: 1.4em;
        }
      


      .timeIconed{
          margin-left:0px;
          margin-top:0px;
          margin-right:8px;
          vertical-align: text-top; 
          color: #ff2483;
      }

    
    .previewDescription {
      padding-top: 0.2em;
      font-size:1em;
  font-weight: 400;
  margin-bottom:0;
  line-height: 1.4em;
  text-align: justify;
      }
    
      .previewTimeIcon {
        font-size: 1em;
        border: 1px solid pink;
        }

  
      .previewAnyTime {
   
  
  
        color: rgb(255, 255, 255) !important;
        background-color: #F64C72;
        border: 0px;
        margin-top:5px;
  padding-top:5px;
  padding-bottom:3px;
  font-size: 1em;
     
  
  
  
        text-align: center;
    margin-top:5px;
  
    font-family: 'Poppins', sans-serif;
  
   
      }
  
  
    .previewDay {
      color: rgb(255, 255, 255);
      background-color: #F64C72;
      font-size: 1.5em;
      text-align: center;
  margin-top:5px;
  padding-top:2px;
  padding-bottom:2px;
    }
    .previewMonth {
      font-size: 1em;
      font-family: 'Poppins', sans-serif;
      text-align: center;
  border-left: 1px solid #A0A0A0;
  border-right: 1px solid #A0A0A0;
  border-bottom: 1px solid #A0A0A0;
  
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: rgb(255, 255, 255) !important;
  text-transform: uppercase;
  }
  
  
    .previewTime {
      text-align: center;
      font-size: 0.8em;
      padding-top: 3px;
      font-weight: 400;
    }
  
  
    .previewParis {
      text-align: center;
      font-size: 0.6em;
      padding-top: 3px;
      color: #6c757d;
      line-height: 0px;
    }
  
  
  
  
    .grayDot {
      color: #A0A0A0;

    }
  
  
  
  .tag {
    color: #A0A0A0;
    text-decoration: none;
    display: inline-block;
    padding: .33333rem .5rem;
    line-height: 1;
    border-radius: 2px;
    border: 1px solid #A0A0A0;
    margin-right: .5em;
  }







/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 1200px) {
    .previewTitle {
        font-size: 1.3em;
        font-weight: 500;
        color:#212529;
        margin-bottom: 1px;
      }
      .previewDateBlock{
        font-size:1em;
        }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 500px) {
    .previewTitle {
        font-size: 1.2em;
        font-weight: 500;
        color:#212529;
        margin-bottom: 1px;
      }
      .previewDateBlock{
        font-size:0.9em;
        }
  }
  






  